<div class="home-container">
    <div class="wrapper fadeInDown">
      <div class="row" id="formContent">
        <div class="col col-img">
          <img class="img" src="../../../assets/images/maxi-foto.jpg" alt="" />
        </div>
        <div class="col">
          <div class="welcome">
            <div>
              <h3>Maximiliano Lenzuen</h3>
              <h3>División: A341</h3>
            </div>
            <div>
              <h2 style="padding-top: 2rem;">Desactivar la bomba</h2>
              <p>
                Se generara una contraseña aleatoria entre 1 y 1000. 
                El usuario tiene 60 segundos para adivinarla, y la unica pista que se le brindara es 
                si el numero ingresado es mayor o menor a la contraseña
              </p>
            </div>
            <button (click)="navitageLogin()">Volver al login</button>
          </div>
        </div>
      </div>
    </div>
  </div>