<div class="error-container">
    <div class="error-content">
        <h1>¡Oops!</h1>
        <p>Hubo un problema con tu inicio de sesión. Por favor, inténtalo de nuevo.</p>
        <div class="button-group">
            <button (click)="redireccionarLogin()" class="login-button" >Ir al Login</button>
        </div>
    </div>
    <div class="error-background">
        <span class="background-shape background-shape1"></span>
        <span class="background-shape background-shape2"></span>
    </div>
</div>